*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    color:white;
    font-family: 'Pixelify Sans', sans-serif;
}

#canvas{
    width:100vw;
    height: 100vh;
}

.modal{
    position:fixed;
    top:50%;
    left:50%;
    width:40%;
    min-height:50%;
    transform:translate(-50%,-50%);
    display:flex;
    flex-direction: column;
    background:rgb(105, 39, 39,0.9);
    border-radius: 5px;
    border:1px solid white;
    padding:1rem 0;
}

.modal .header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:1em;
}

.modal .header .exit-btn{
    padding: 0.2em 0.5em;
    color:black;
}

.modal .body{
    padding:1em;
}

.hidden{
    display:none;
}


.link{
    margin: 0.1em 1em;
}
    
.dark-mode{
    width:2em;
    height:2em;
    position:fixed;
    border:1px solid black; 
    display:flex;
    align-items: center;
    justify-content: center;
    right:0.5rem;
    top:1rem;
    border-radius: 4px;
    background:black;
    color:white;
    cursor: pointer;
    transition:1s;

        
}


.movement-control{
    position:fixed;
    width:50%;
    aspect-ratio: 1/1;
    border:1px solid white;
    right: 2em;
    bottom: 2em;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background:rgba(0,0,0, 0.742);
    box-shadow: 0 0 15px 2px white;
    display:none;
}

.movement-control i{
        position:absolute;
        scale:3;
        cursor: pointer;
        z-index: 2;

}

.movement-control #up{
    top:2rem;
}

.movement-control #down{
    bottom:2rem;
}

.movement-control #left{
    left:2rem;
}


.movement-control #right{
    right:2rem;
}

.loading-screen{
    position:absolute;
    width:100vw;
    height:100vh;
    z-index:1;
    display:flex;
    align-items: center;
    justify-content: center;
    background:#cea29c;
}

.loading-screen .loading-wrapper{
    width:30%;
    height:40%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



.loading-screen p{
    width:80%;
    height:10%;
    color:black;
    text-align: center;
}
    
.loading-screen .animation-wrapper{
    width:100%;
    height:70%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.animation-wrapper>*{
    width:80%;
    height:40%;
    display:flex;
    justify-content: space-around;
    align-items: center;    
}

.up-sec>*{
    height:80%;
    aspect-ratio: 1/1;
    background-color: var(--bg-color);
    box-shadow: 0 0 15px 2px brown;
    animation:loadingAnimation 1.2s ease-in-out var(--time-delay) infinite alternate;
    scale:0.8;

}

.down-sec>*{
    height:80%;
    aspect-ratio: 1/1;
    background-color: var(--bg-color);
    box-shadow: 0 0 15px 2px brown;
    animation:loadingAnimation 1.2s ease-in-out var(--time-delay) infinite alternate;
    scale:0.8;
}

@keyframes loadingAnimation {
    from{
        scale:0.8;
    }to{
        scale:1.2;
    }
}


@media (max-width: 480px){
   .movement-control{
    display:flex;
   }

   .animation-wrapper{
    width:80vw !important;
   }
}
